<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>食品过期监控</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
</head>

<body>
  <div id="app" class="container">
    <h1 class="mt-2">食品过期监控</h1>
    <button class="btn btn-outline-secondary me-2" @click="addItem">新增项目</button>
    <button class="btn btn-outline-secondary" @click="save">保存</button>
    <div class="card p-2" v-for="(item, idx) in items" :key="idx" style="margin: 20px 0">
      <div class="row container mb-1">
        <label class="col-sm-2 col-form-label" :for="'item-name'+idx">物品名称：</label>
        <input :readonly="item.readonly" v-model="item.name" :id="'item-name'+idx" class="col" :class="{'form-control': !item.readonly,'form-control-plaintext': item.readonly}">
      </div>
      <div class="row container mb-1">
        <label class="col-sm-2 col-form-label" :for="'item-createTime'+idx">生产日期：</label>
        <input :readonly="item.readonly" v-model="item.createTime" :id="'item-createTime'+idx" class="col" :class="{'form-control': !item.readonly,'form-control-plaintext': item.readonly}">
      </div>
      <div class="row container mb-1">
        <label class="col-sm-2 col-form-label" :for="'item-duration'+idx">保存期限：</label>
        <input type="number" :readonly="item.readonly" v-model="item.duration" :id="'item-duration'+idx" class="col" :class="{'form-control': !item.readonly,'form-control-plaintext': item.readonly}">
      </div>
      <div class="row container mb-1">
        <span class="col-sm-2 col-form-label">过期日期：</span>
        <span class="col form-control" :class="{'form-control': !item.readonly,'form-control-plaintext': item.readonly}" :style="isExpired[idx] ? `color: red;` : ''">
          {{dayjs(expireTime[idx]).format('YYYY-MM-DD hh:mm')}} ({{isExpired[idx] ? '已经' : '还有'}}
          <strong style="font-size: larger;">{{Math.abs((dayjs(expireTime[idx]) - dayjs())/1000/60/60/24).toFixed(1)}}</strong>天)
        </span>
      </div>
      <div class="container">
        <button class="btn btn-sm btn-outline-primary" @click="editItem(idx)">{{item.readonly?'编辑':'确定'}}</button>
        <button class="btn btn-sm btn-outline-danger ms-2" @click="removeItem(idx)">删除</button>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
</body>
<script>
  const { createApp, ref, computed } = Vue

  createApp({
    setup() {
      const items = ref(JSON.parse(localStorage.getItem('itemExpireData')) || [])

      const expireTime = computed(() => {
        return items.value.map(item => dayjs(item.createTime).add(item.duration, 'day').format())
      })
      const isExpired = computed(() => {
        return items.value.map((item, idx) => ((dayjs() - dayjs(expireTime.value[idx])) / 1000 / 60 / 60 / 24) > 0)
      })

      const addItem = () => {
        items.value.push({
          name: '',
          createTime: dayjs().format(),
          duration: 1,
          readonly: false,
        })
      }

      const removeItem = (id) => {
        items.value.splice(id, 1)
      }
      
      const editItem = (id) => {
        items.value[id].readonly = !items.value[id].readonly
      }

      const save = () => {
        localStorage.setItem('itemExpireData', JSON.stringify(items.value))
      }

      (function formatCreateTime() {
        items.value.map(item => item.createTime = dayjs(item.createTime).format())
      })()

      return {
        items,
        expireTime,
        isExpired,
        addItem,
        removeItem,
        editItem,
        save,
        dayjs
      }
    }
  }).mount('#app')
</script>

</html>